# Startup Apps

exec --no-startup-id exec /usr/bin/alacritty
for_window [class="Alacritty"] move to workspace $ws1

exec --no-startup-id exec /usr/bin/google-chrome
for_window [class="Google-chrome"] move to workspace $ws2

exec --no-startup-id exec /snap/bin/slack
for_window [class="Slack"] move to workspace $ws3

exec --no-startup-id exec /snap/bin/spotify
for_window [class="Spotify"] move to workspace $ws6

# Floating Apps
for_window [class="Screenkey"] floating enable
for_window [title="Settings"] floating enable
for_window [class="1Password"] floating enable
for_window [title="Bluetooth Devices"] floating enable

