# Startup Apps
exec --no-startup-id exec /snap/bin/spotify
exec --no-startup-id exec /usr/bin/alacritty
exec --no-startup-id exec /usr/bin/google-chrome
exec --no-startup-id exec /usr/bin/slack

# Floating Apps
for_window [class="Screenkey"] floating enable
for_window [title="Settings"] floating enable
for_window [class="1Password"] floating enable
for_window [title="Bluetooth Devices"] floating enable

# Workspace assigned Apps
for_window [class="Alacritty"] move to workspace $ws1
for_window [class="Chromium"] move to workspace $ws2
for_window [class="Slack"] move to workspace $ws3
for_window [class="Spotify"] move to workspace $ws6
